@charset "utf-8";
@import "reset.scss";


#slider{
    width: 400px;
    border-radius: 20px;
    height: 250px;
    position: relative;
    margin: 100px auto;
    overflow: hidden;

    ul{
        position: absolute;
        top: 0;
        left: 0;
        
        width: calc(100% * 3);
        height: 100%;
        
        li{
            width: calc(100% / 3);
            height: 100%;
            font-size: 40px;
            color: #000;
            float: left;
            display: flex;
            justify-content: center;
            align-items: center;

            &[data-index="1"]{
                background-color: rgb(137, 238, 238);
            }
            &[data-index="2"]{
                background-color: rgb(243, 227, 9);
            }

            &[data-index="3"]{
                background-color: rgb(238, 164, 219);
            }

        
        }
    }
}

.prev{
    position: absolute;
    top: 50%;
    left: 50px;
    margin-top: -50px;
}

.next{
    position: absolute;
    top: 50%;
    right: 50px;
    margin-top: -50px;
}
